<% layout('layouts/boilerplate')%>

    <!-- <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1497900304864-273dfb3aae33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1215&q=80"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                            <a href="/register" class="btn btn-dark btn-block">New to Campground's? Regiter here</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="card mt-5 mb-5"
        style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="images/sam-manns-Czw5tWFGNOI-unsplash (1).jpg" style="width: 100%;"
                    class="img-fluid" alt="...">
            </div>

            <div class="col-lg-6 mt-4 mb-4">
                <div class="container-fluid">
                    <h2 class="mb-3 d-flex justify-content-center">Login</h2>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="Username"
                                required>
                            <div class="valid-feedback">
                                looks good!
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="Password">Password</label>
                            <input class="form-control" type="password" name="password" id="password"
                                placeholder="Password" required>
                            <div class="valid-feedback">
                                looks good!
                            </div>
                        </div>
                        <!-- <div class="mb-3 d-flex justify-content-center">
                            <button class="btn btn-dark">Sign in</button>
                        </div> -->
                        <button class="btn btn-success btn-block">Login</button>
                        <a href="/register" class="btn btn-dark btn-block">New to Campground's? Regiter here</a>
                    </form>
                </div>
            </div>

        </div>
    </div>